:root {
    --main-text-color: #626262;
    --secondary-text-color: #B4AD9E;
    --nav-list-color: #7D7D7D;
    --accent-color: #03A9F4;
    --bg-color: #ffffff;
    --main-text-size: 24px;
}

body {
    font-family: "Playfair Display", serif;
}

.signature {
    font-family: "Ubuntu", sans-serif;
}