.gallery {
    padding-bottom: 66px;
    &-item {
        width: calc((100% - 65px) / 2);
        @media screen and (max-width: 767px) {
            width: 100%;
            margin-bottom: 28px;
        }
    }
    &-photo {
        margin-bottom: 62px;
    }
}

.gallery-list {
    // display: flex;
    // flex-wrap: wrap;
    // column-gap: 65px;
    // row-gap: 130px;
    margin-bottom: 90px;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        column-gap: 65px;
        row-gap: 130px;
    }
}

// .gallery-item {
//     width: calc((100% - 65px) / 2);
// }

// .gallery-photo {
//     margin-bottom: 62px;
// }

//Директива @mixin
.gallery-name {
    // @include bordered(green);

    margin-bottom: 32px;
    font-family: "Ubuntu", sans-serif;
    // color: var(--secondary-text-color);
    color: $secondary-text-color;
}

.gallery-title {

    // @include border($type: dashed);
    // @include border($type: dotted, $color: $accent-color);

    margin-bottom: 40px;
}

// Директива @extend
// .btn {
//     border: 1px solid $main-text-color;
//     outline: none;
//     background-color: transparent;
//     cursor: pointer;
//     font-weight: 400;
//     font-size: 14px;
// }

.gallery-btn {
    border: 1px solid $main-text-color;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;

    // @extend .btn;
    // @extend %btn;

    display: block;
    margin: auto;
    padding: 20px 48px;
    text-align: center;
    color: $main-text-color;
    background-color: $bg-color;
}