.header {
    padding-top: 71px;
    padding-bottom: 92px;
}

.header-nav-list {
    width: 555px;
    margin: 0 auto;
    display: flex;
    gap: 100px;
    justify-content: center;
}

.header-nav-link {
    // color: var(--nav-list-color);
    color: $nav-list-color;
}

.header-nav-link.current {
    // color: var(--accent-color);
    color: $accent-color;
}