body {
    // background-color: var(--bg-color);
    background-color: $bg-color;
    font-family: "Playfair Display", serif;
    // font-size: var(--main-text-size);
    font-size: $main-text-size;
    // color: var(--main-text-color);
    color: $main-text-color;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    /* max-width: 936px; */
    width: 936px;
    margin: 0 auto;
    /* margin-left: auto;
    margin-right: auto; */
    padding: 0 15px;
    
    outline: 2px dashed #f44336;
}